/* .App {
  text-align: center;
} */


.App-header {
  background-color: #282c34;
  min-height: 100rem; 
  /* font-size: calc(2px + 2vmin); */
  font-size: 1.5rem;
  color: white;
}

/* // SIDE MENU */
.sideBar {
  border: 2px solid rgb(252, 238, 238);
  background-color: #8d8f92;
  margin-left: 3rem;
  margin-right: 2rem;
}
.navLink {
  color: white;
}

/* distance page */
.inputMenu, .outputMenu {
  max-width: 20rem;
}
/* #unitInput, #unitOutput {
  justify-self: center;
} */
/* MAIN SECTION */
.inputBox, .resultBox, .buttonBox, .sideBar, .creditRow {
  /* margin-top: 2rem; */
  padding-bottom: 2rem;
  padding-top: 4rem;
  /* padding-left: 3rem; */
  background-color: #625d63;
}
h3 {
  color:rgb(252, 241, 241);
}
.mainSection {
  /* background-color: #ffffff; */
  max-height: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

